<h2>ジャンル編集</h2>
<%= render 'layouts/error', obj: @category %>
<%= form_with model: @category, url: admins_category_path, method: :put, local:true do |f| %>
ジャンル名<%= f.text_field :name %>
<%= f.submit '変更を保存',class: "btn btn-success" %>
<% end %>
