<div align="center">
  <font size="5"><p><b>本当に退会しますか？</b></p></font>
  <font size="4">
    退会すると、会員登録情報や
    <br>これまでの購⼊履歴が閲覧できなくなります。
    <br>退会する場合は、「退会する」をクリックしてください。  
  </font>
  <br> 
  <% if customer_signed_in? && @customer.id == current_customer.id %> 
    <%= link_to customers_customers_path do %>
      <button type="button" class="btn btn-primary">退会しない</button>
    <% end %>
    <%= link_to customers_customers_out_path, method: :patch  do %>
      <button type="button" class="btn btn-danger">退会する</button>
    <% end %>
  <% end %>
</div>