<h1>#トップページ</h1>

<div id="welcome_comment">
 <p>ようこそ、ながのCAKEへ！</p>
 <p>このサイトは、ケーキ販売のECサイトになります。</p>
 <p>会員でない方も商品の閲覧はできますが、</p>
 <p>購入には会員登録が必要になります。</p>
</div>

 <!--↓新着商品記述-->
<div class="new-item">
 <h2 class="new-item-title">新着商品</h2>
 <div class="new-item-list d-flex">
   <% @new_items.each do |new_item|%>
   <%= attachment_image_tag new_item, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %><br>
   <%= new_item.name %><br>
   <%= new_item.price%>
   <% end %>
 </div>
</div>
<!--↑新着商品記述-->

<%= link_to "全ての商品を見る", customers_items_path%>
