<h1>カート内商品</h1>


<% @cart_items.each do |cart_item| %>
  <%= cart_item.item.name %>
  <%= cart_item.amount%>個
  <%= ((cart_item.amount * cart_item.item.price * (1+@tax)).to_i).to_s(:delimited, delimiter: ',')%> <br>
<% end %>

<!--もし、同じ商品がカート内に追加されたら、カート内の商品の個数だけを増やすようにif文描かんといかん-->
