<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">

    <p>以下の<%= resource.errors.count %>つを修正して、再入力お願いします。</p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
